<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

<body>
    <div class="d-flex">
        <%- include('layouts/sidebar'); -%>
        <main class="flex-grow-1">
            <div class="rooms-content p-3">
                <h1>Rooms Management</h1>
                <div class="d-flex flex-wrap justify-content-start mt-4">
                    <% rooms.forEach(function(room) { %>
                        <div class="p-2">
                            <div class="card">
                                <img src="<%= room.thumbnail %>" class="card-img-top" alt="<%= room.name %>">
                                <div class="card-body">
                                    <h5 class="card-title"><%= room.name %></h5>
                                    <p class="card-text"><%= room.address %></p>
                                    <a href="/rooms/<%= room._id %>" class="btn btn-primary">Open</a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                    <div class="p-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#roomModal">Add New Room</button>
                    </div>
                </div>
            </div>
            
            <div class="actors-content p-3">
                <h1>Actors Management</h1>
                <div class="d-flex flex-wrap justify-content-start mt-4">
                    <% actors.forEach(function(actor) { %>
                        <div class="p-2">
                            <div class="card">
                                <img src="<%= actor.photo %>" class="card-img-top" alt="<%= actor.name %>">
                                <div class="card-body">
                                    <h5 class="card-title"><%= actor.name %></h5>
                                    <a href="/actors/<%= actor._id %>" class="btn btn-primary">View Profile</a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                    <div class="p-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#actorModal">Add New Actor</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <%- include('layouts/actorModalForm'); -%>
    <%- include('layouts/roomModalForm'); -%>
    <%- include('layouts/scripts'); -%>
</body>

</html>